.exploration__button {
    display: block;
    background : linear-gradient(to bottom right,#FF79DA, #9356DC);
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    height: 3rem;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    &__push {
        display: block;
        padding: 2% 2%;
        cursor: pointer;
        text-decoration: none;
        color: white;
        align-items: center;
        width: 70;
        
    }
}