.exploration__button {
    background : linear-gradient(to bottom right,#FF79DA 33%, #9356DC);
    border-radius: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 3rem;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    &__push {
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        color: white;
        align-items: center;
    }
}