.exploration__button {
    text-align: center;
    border: 1px black solid;
    box-shadow: 0 0 10px black;
    background-color: $background-button;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
    &__push {
        text-align: center;
        cursor: pointer;
        
        text-decoration: none;
        font-weight: 600;
        color: white;
    }
}