.entete_page {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        &__logo {
            font-family: Shrikhand;
        }
        i {
            position: absolute;
            left: 10%;
            font-size: 115%;
        }
}

@media screen and (min-width: 992px) {
    .entete_page {
        height: 5rem;
        font-size: 145%;
    }
}

