.presentation__localisation {
    background-color: $background-localisation;
    width: 100%;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
        &__icon {
            padding-right: 1rem;
            justify-content: center;
            align-items: center;
        }
}

.exploration {
    height: 15rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    background-color: $background-exploration;
}

.restaurants {
    width: 100%;
    background-color: $background-restaurant;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

