.menu_carte_nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2.5rem;
    font-style: italic;
    h1 {
        font-family: Shrikhand;
        text-align: center;
    }
    i {
        font-size: 150%;
    }
}

.menu_carte {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    width: 100%;
    height: 100%;
    background-color: $background-menu-carte;
    padding-bottom: 3rem;
    position: sticky;
    margin-top: -4rem;
}

.carte_choix {
    width: 85%;
    margin-left: 1rem;        
    background-color: $background-choix-carte;
    border-radius: 1rem;
    padding-left: 1rem;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 15px lightgrey;
    
    
    .figcaption_left {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: block;
        text-decoration: none;                
        font-weight:bold;
        color:black;
    }
        &__descriptif {
            display: flex;
            font-weight: 150;
            align-items: center;
        }

    .figcaption_right {
        padding-right: 8%;
        display: flex;
        font-weight: 300;
        align-items: end;
        font-weight:bold;
    }    
    .figcaption_valide {
        width: 0;
        overflow: hidden;
        background-color: #99E2D0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-size: 150%;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        transform: scaleX(0);
        transition: transform 1s;
        i {
            transition: transform 300ms;
            transition-delay: 400ms;
            transform: rotate(0deg);
        }
    } 
    &:hover > .figcaption_valide {
        width: 30%;
        transform: scaleX(1);
        transform-origin: right;
        i {
            transform: rotate(720deg);
        }
    }
}

.entree, .plats, .desserts {
    padding-bottom: 1rem;
    h2 {
        font-weight: 200;
        font-size: 1em;
        padding-left: 6%;
        text-align: left;
    }
    .line {
        border-bottom: 0.2em solid $line;
    } 
}

@media screen and (min-width: 992px)
{
    .menu_carte_nom {
        padding-left: 15%;
        padding-right: 15%;
        font-style: italic;
        font-size: 2rem;
        
    }

.carte_choix {
    width: 70%;
    margin-left: 1rem;        
    background-color: $background-choix-carte;
    border-radius: 1rem;
    padding-left: 1rem;
    display: flex;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 15px lightgrey;
    &__titre {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        text-decoration: none;                
        font-weight:bold;
        color:black;
    }
    &__descriptif {
        display: block;
        font-weight: 150;
        align-items: center;
    }
    .figcaption_right {
        display: flex;
        font-weight: 300;
        align-items: end;
        font-weight:bold;
    }    
}

    .entree, .plats, .desserts {
        padding-bottom: 1.5rem;
        h2 {
            font-weight: 200;
            font-size: 1em;
            padding-left: 20%;
            text-align: left;
            margin-bottom: 2%;
        }  
    }
}



