.header {
  width: 100%;
  height: 3rem;
}
.header__logo {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .header {
    width: 100%;
    height: 10rem;
  }
  .header__logo {
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
  }
}
footer {
  width: 100%;
  height: 12rem;
  background-color: #302B30;
}
footer li {
  list-style-type: none;
  color: white;
  padding-top: 0.5rem;
  margin-left: -1rem;
  line-height: 1rem;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer i {
  width: 5%;
  padding-right: 0.5rem;
}

.footer_titre {
  font-weight: bold;
  font-style: italic;
  color: white;
  padding-left: 1.25rem;
  padding-top: 1rem;
  margin: 0;
  font-family: Shrikhand;
}

@media screen and (min-width: 992px) {
  footer {
    width: 100%;
    height: 15rem;
    background-color: #302B30;
  }
  footer li {
    list-style-type: none;
    color: white;
    line-height: 2rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
  }
  footer li a {
    color: white;
    text-decoration: none;
  }
  footer li i {
    width: 5%;
    padding-right: none;
  }

  .footer_titre {
    font-weight: bold;
    font-style: italic;
    color: white;
    padding-left: 3rem;
    padding-top: 2rem;
    margin: 0;
    font-family: Shrikhand;
  }
}
.presentation__localisation {
  background-color: #E5E2E2;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation__localisation__icon {
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.presentation__localisation__input {
  border: none;
  background-color: transparent;
  color: black;
}

.exploration {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #F5F5F5;
}
.exploration h1 {
  font-weight: bold;
}

.restaurants {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu {
  margin-left: 2%;
  margin-bottom: 10%;
}
.menu .titre_menu {
  font-size: 1.8em;
  padding-left: 4%;
  text-align: left;
}
.menu p {
  font-size: 1em;
  font-weight: bold;
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  border-radius: 25px;
  box-shadow: 5px 5px 15px lightgrey;
}
.menu span {
  color: white;
  background-color: #9356DC;
  padding: 6px 11px;
  border-radius: 100%;
  margin-right: 25px;
  margin-left: -15px;
  font-size: 1em;
}
.menu__choix {
  background-color: #F5F5F5;
  padding: 30px 0;
  margin-bottom: 25px;
}
.menu__choix:hover {
  background-color: #F5E5F5;
}
.menu__choix i {
  color: grey;
  padding-right: 35px;
  padding-left: 0;
}

@media screen and (min-width: 992px) {
  .menu {
    margin-left: 2%;
    margin-bottom: 8%;
  }
  .menu .titre_menu {
    font-size: 2.2em;
    text-align: center;
  }
  .menu p {
    font-size: 1em;
    font-weight: bold;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    border-radius: 25px;
    box-shadow: 5px 5px 15px lightgrey;
    text-align: center;
  }
  .menu span {
    color: white;
    background-color: #9356DC;
    padding: 6px 11px;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: -10px;
    font-size: 1em;
  }
  .menu__choix {
    background-color: #F5F5F5;
    padding: 30px 0;
    margin-bottom: 25px;
  }
  .menu__choix i {
    color: grey;
    padding-right: 35px;
    padding-left: 0;
  }
}
.exploration__button {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  height: 3rem;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.exploration__button__push {
  display: block;
  padding: 2% 2%;
  cursor: pointer;
  text-decoration: none;
  color: white;
  align-items: center;
  width: 100%;
  font-weight: 600;
}

.command_button {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  height: 3rem;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.command_button__push {
  display: block;
  padding: 2% 2%;
  cursor: pointer;
  text-decoration: none;
  color: white;
  align-items: center;
  width: 70%;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .exploration__button, .command_button {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    width: 19%;
    padding: 2%;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;
    border: none;
  }
  .exploration__button__push, .command_button__push {
    display: block;
    padding: 2% 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
    width: 100%;
    font-weight: 600;
  }
}
.entete_page {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.entete_page__logo {
  text-align: center;
}
.entete_page i {
  text-align: left;
  justify-content: left;
  padding-left: 2rem;
  padding-right: 3rem;
}

.menu_carte {
  background-color: #F5F5F5;
  width: 100%;
}
.menu_carte__nom {
  display: flex;
}

.menu_carte_nom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2.5rem;
  font-style: italic;
}
.menu_carte_nom h1 {
  font-family: Shrikhand;
}
.menu_carte_nom i {
  font-size: 150%;
}

.menu_carte {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  padding-bottom: 3rem;
  position: sticky;
  margin-top: -4rem;
}

.carte_choix {
  width: 85%;
  margin-left: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding-left: 1rem;
  display: flex;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px lightgrey;
}
.carte_choix__titre {
  flex-direction: column;
  align-items: flex-start;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.carte_choix__descriptif {
  display: block;
  font-weight: 150;
  align-items: center;
}
.carte_choix .figcaption_right {
  width: 10%;
  padding-right: 1rem;
  display: flex;
  font-weight: 300;
  align-items: end;
  font-weight: bold;
}

.entree, .plats, .desserts {
  padding-bottom: 1rem;
}
.entree h2, .plats h2, .desserts h2 {
  font-weight: 200;
  font-size: 1em;
  padding-left: 6%;
  text-align: left;
}
.entree .line, .plats .line, .desserts .line {
  border-bottom: 0.2em solid #99E2D0;
}

@media screen and (min-width: 992px) {
  .menu_carte_nom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2.5rem;
    font-style: italic;
  }
  .menu_carte_nom h1 {
    font-family: Shrikhand;
  }
  .menu_carte_nom i {
    font-size: 150%;
  }

  .menu_carte {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding-bottom: 3rem;
    position: sticky;
    margin-top: -4rem;
  }

  .carte_choix {
    width: 85%;
    margin-left: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding-left: 1rem;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 15px lightgrey;
  }
  .carte_choix__titre {
    flex-direction: column;
    align-items: flex-start;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  .carte_choix__descriptif {
    display: block;
    font-weight: 150;
    align-items: center;
  }
  .carte_choix .figcaption_right {
    width: 10%;
    padding-right: 1rem;
    display: flex;
    font-weight: 300;
    align-items: end;
    font-weight: bold;
  }

  .entree, .plats, .desserts {
    padding-bottom: 1rem;
  }
  .entree h2, .plats h2, .desserts h2 {
    font-weight: 200;
    font-size: 1em;
    padding-left: 6%;
    text-align: left;
  }
  .entree .line, .plats .line, .desserts .line {
    border-bottom: 0.2em solid #99E2D0;
  }
}
.photo_restaurant {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

body {
  font-family: "Roboto";
  margin: 0;
}
body .footer_titre {
  font-style: italic;
  font-weight: bold;
}

.titre_restaurant {
  font-size: 1.8em;
  padding-left: 4%;
  text-align: left;
}

.carte-restaurant {
  margin-bottom: 8rem;
  width: 90%;
  height: 13rem;
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;
}
.carte-restaurant a {
  text-decoration: none;
  color: black;
}
.carte-restaurant img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.carte-restaurant figcaption {
  display: flex;
  padding-left: 1rem;
}
.carte-restaurant__text {
  padding-top: 2%;
  flex-direction: column;
  align-items: flex-start;
  display: block;
  font-weight: bold;
  line-height: 1.6rem;
}
.carte-restaurant__subtext {
  font-weight: 200;
}
.carte-restaurant .figcaption_right {
  width: 10%;
  align-items: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

@media screen and (min-width: 992px) {
  .titre_restaurant {
    font-size: 2.2em;
    text-align: center;
  }

  .carte-restaurant {
    margin-bottom: 8rem;
    width: 40%;
    height: 13rem;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
  }
  .carte-restaurant a {
    text-decoration: none;
    color: black;
  }
  .carte-restaurant img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
  }
  .carte-restaurant figcaption {
    display: flex;
    padding-left: 1rem;
  }
  .carte-restaurant__text {
    padding-top: 2%;
    flex-direction: column;
    align-items: flex-start;
    display: block;
    font-weight: bold;
    line-height: 1.6rem;
  }
  .carte-restaurant__subtext {
    font-weight: 200;
  }
  .carte-restaurant .figcaption_right {
    width: 10%;
    align-items: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .titre_restaurant {
    font-size: 1.8em;
    padding-left: 4%;
    text-align: left;
  }

  .carte-restaurant {
    margin-bottom: 8rem;
    width: 90%;
    height: 13rem;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
  }
  .carte-restaurant a {
    text-decoration: none;
    color: black;
  }
  .carte-restaurant img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
  }
  .carte-restaurant figcaption {
    display: flex;
    padding-left: 1rem;
  }
  .carte-restaurant__text {
    padding-top: 2%;
    flex-direction: column;
    align-items: flex-start;
    display: block;
    font-weight: bold;
    line-height: 1.6rem;
  }
  .carte-restaurant__subtext {
    font-weight: 200;
  }
  .carte-restaurant .figcaption_right {
    width: 10%;
    align-items: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .titre_restaurant {
    font-size: 2.2em;
    text-align: center;
  }

  .restaurant__photos-haut {
    display: flex;
    text-align: center;
  }
  .restaurant__photos-bas {
    display: flex;
    text-align: center;
  }

  .carte-restaurant {
    margin-bottom: 8rem;
    width: 35%;
    height: 22rem;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
  }
  .carte-restaurant a {
    text-decoration: none;
    color: black;
  }
  .carte-restaurant img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
  }
  .carte-restaurant figcaption {
    display: flex;
    padding-left: 1rem;
  }
  .carte-restaurant__text {
    padding-top: 1%;
    flex-direction: column;
    align-items: flex-start;
    display: block;
    font-weight: bold;
    line-height: 1.6rem;
  }
  .carte-restaurant__subtext {
    font-weight: 200;
  }
  .carte-restaurant .figcaption_right {
    width: 10%;
    align-items: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
