.header {
  width: 100%;
  height: 3rem;
}
.header__logo {
  text-align: center;
}

footer {
  width: 100%;
  height: 12rem;
  background-color: #302B30;
}
footer li {
  list-style-type: none;
  color: white;
  padding-top: 0.5rem;
  margin-left: -1rem;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer i {
  width: 5%;
  padding-right: 0.5rem;
}

.footer_titre {
  font-weight: bold;
  font-style: italic;
  color: white;
  padding-left: 1.25rem;
  padding-top: 1rem;
  margin: 0;
  font-family: Shrikhand;
}

.presentation__localisation {
  background-color: #E5E2E2;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation__localisation__icon {
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.presentation__localisation__input {
  border: none;
  background-color: transparent;
  color: black;
}

.exploration {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #F5F5F5;
}
.exploration h1 {
  font-weight: bold;
}

.restaurants {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.menu {
  width: 100%;
  padding-bottom: 2rem;
}

.titre_menu {
  margin-left: 1rem;
}

.menu li {
  list-style-type: none;
  margin-bottom: 2rem;
  height: 2rem;
  align-items: center;
  margin-left: 1rem;
  font-weight: bold;
  background-color: #F5F5F5;
  border-radius: 1rem;
  width: 80%;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-left: 0;
  margin-bottom: 2rem;
  display: flex;
  height: 5rem;
}
.menu li::before {
  content: "1";
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  padding: 2%;
  align-items: center;
  position: absolute;
  left: 29px;
}

.menu i {
  margin-right: 1.5rem;
  margin-left: 1rem;
}

.exploration__button {
  background: linear-gradient(to bottom right, #FF79DA 33%, #9356DC);
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  height: 3rem;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.exploration__button__push {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  align-items: center;
}

.entete_page {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.entete_page__logo {
  text-align: center;
}
.entete_page i {
  text-align: left;
  padding-left: 1rem;
}

.menu_carte {
  background-color: #F5F5F5;
  width: 100%;
}
.menu_carte__nom {
  display: flex;
}

.menu_carte_nom {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  font-style: italic;
  padding-top: 1.5rem;
}
.menu_carte_nom h1 {
  padding-right: 4rem;
  font-family: Shrikhand;
}
.menu_carte_nom i {
  font-size: 150%;
}

.menu_carte {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  padding-bottom: 3rem;
  position: sticky;
  margin-top: -4rem;
}

.carte_choix {
  width: 85%;
  margin-left: 1rem;
  background-color: white;
  border-radius: 1rem;
  padding-left: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.carte_choix__titre {
  flex-direction: column;
  align-items: flex-start;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.carte_choix__descriptif {
  display: block;
  font-weight: 150;
  align-items: center;
}
.carte_choix .figcaption_right {
  width: 10%;
  padding-right: 1rem;
  padding-top: 2rem;
  display: block;
}

.entree, .plats, .desserts {
  padding-bottom: 1rem;
}
.entree h2, .plats h2, .desserts h2 {
  padding-left: 1rem;
  font-weight: 200;
}

.photo_restaurant {
  width: 100%;
  height: 16rem;
}
.photo_restaurant img {
  width: 90%;
  object-fit: cover;
}

body {
  font-family: "Roboto";
  margin: 0;
}
body .footer_titre {
  font-style: italic;
  font-weight: bold;
}

.titre_restaurant {
  margin-left: 1rem;
}

.carte-restaurant {
  margin-bottom: 8rem;
  width: 90%;
  height: 13rem;
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;
}
.carte-restaurant img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.carte-restaurant figcaption {
  display: flex;
  padding-left: 1rem;
}
.carte-restaurant__text {
  padding-top: 3%;
  flex-direction: column;
  align-items: flex-start;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.carte-restaurant__subtext {
  font-weight: 200;
}
.carte-restaurant .figcaption_right {
  width: 10%;
  align-items: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
