
.restaurants {
    width: 100%;
    background-color: $background-restaurant;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.titre_restaurant { 
    font-size: 1.8em;
    padding-left: 4%;
    text-align: left;
}

.carte-restaurant {
    margin-bottom: 8rem;
    width: 90%;
    height: 12rem;
    margin: 1rem;
    padding-bottom: 1rem;    
    border-radius: 1rem;
    background-color: white;
    box-shadow: 3px 3px 11px lightgrey;
    a {
        text-decoration: none;
        color:black;
    }
        img {
            width: 100%;
            height: 75%;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            object-fit: cover;
        }
        .figcaption {
            display: flex;
            padding-left: 1rem;
            align-items: center;         
        }
        &__text {
            width: 80%;
            padding-top: 2%;
            flex-direction: column;
            align-items: flex-start;
            display: block;          
            font-weight:bold;
            line-height: 1.6rem;
        }
        &__subtext{
            font-weight: 200;
        }
        .figcaption_right {
            align-items: center;
            margin-right: 1rem;
            &:hover {
                .coeur_plein {
                    opacity: 1;
                }
                .coeur_vide {
                    opacity: 0;
                }  
            }
            .coeur_plein {
                background: linear-gradient(#FF79DA, #9356DC);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: all 1s;
            }
            .coeur_vide {
                opacity: 1;
                transition-delay: 100ms;
            }
        }
}

@media screen and (min-width: 992px) {

    .titre_restaurant { 
    font-size: 2.2em;
    text-align: center;
    }

    .restaurants {
        width: 100%;
        background-color: $background-restaurant;
        padding-top: 2rem;
        padding-bottom: 3rem;
        .photos {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-around;
        }
    }

    .carte-restaurant {
        margin-bottom: 8rem;
        width: 40%;
        height: 21rem;
        margin: 1rem;
        padding-bottom: 0;    
        border-radius: 1rem;
        background-color: white;
        a {
        text-decoration: none;
        color:black;
            img {
                width: 100%;
                height: 80%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                object-fit: cover;
                figcaption {
                    display: flex;
                    padding-left: 1rem;           
                    &__text {
                        padding-top: 1%;
                        flex-direction: column;
                        align-items: flex-start;
                        display: block;          
                        font-weight:bold;
                        line-height: 1rem;
                    }
                    &__subtext{
                        font-weight: 100;
                    }
                }
                .figcaption_right {
                    margin-right: 1rem;
                    align-items: flex-end;
                    padding-top: 1rem;
                }
            }
        }
    }
}