$colour-primary: black;

$background-button: #DE29CB;
$background-number: #9356DC;
$background-footer: #302B30;
$background-restaurant: #F5F5F5;
$background-exploration: #F5F5F5;
$background-menu: #F5F5F5;
$background-localisation: #E5E2E2;
$bacckground-presentation-carte: #F5F5F5;
$background-choix-carte: white;
$background-menu-carte: #F5F5F5;
$line: #a7c9c0;
$border-top: #88cebb;
$border-bottom: #9356DC;



